<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="../static/img/fatec.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="{{url_for('static', filename='js/java.js')}}"></script>
    <!-- Css base  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <!---->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleSP.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atualizar.css') }}">
    <title>{% block title%}{%endblock%}</title>
    <style>
        .pc {
            background-image: url("{{ url_for('static', filename='/img/PC_21.png') }}");
        }

        .porta1 {
            background-image: url("{{ url_for('static', filename='/img/door.png') }}");
        }

        .server {
            background-image: url("{{ url_for('static', filename='/img/server2.png') }}");
        }
    </style>
</head>

<body class="fundo">
    <div class="barrasup">
        <a href="{{url_for('homepage')}}"><img class="logo" src="{{url_for('static', filename='img/Logo.png')}}" alt="logo"><img class="techelp" src="{{url_for('static', filename='img/techelp.png')}}" alt="techelp"></a>
        {% if current_user.is_authenticated %}
        <div class="buttons">
            <div class="butao">
                <a class="" href="/visualizar"><img class="hexagHM" src="{{url_for('static', filename='img/ChamadosSF.png')}}" alt="hexagono"></a>
                <a href="/lab"><img class="hexagRP" src="{{url_for('static', filename='img/Laboratórios.svg')}}" alt="hexagono"></a>
                <a href="/editar"><img class="hexagSF" src="{{url_for('static', filename='img/EditarSF.png')}}" alt="hexagono"></a>
                <a href="/logout" id="botão-login"><img class="hexagAT" src="{{url_for('static', filename='img/LogoutSF.png')}}" alt="hexagono"></a>
                                    
            </div>
        </div>
        {% else %}
        <div class="buttons">
            
            <div class="butao">
                <a class="butao" href="/"><img class="hexagHM" src="{{url_for('static', filename='img/Home.png')}}"
                        alt="hexagono"></a>
            </div>

            <div class="butao">
                <a href="/visualizar"><img class="hexagRP" src="{{url_for('static', filename='img/ProblemasJáRelatados.svg')}}"
                        alt="hexagono"></a>
            </div>
<!--  botão siga fatec mudei para contatos tem que mudar a rota ainda  -->
            <div class="butao">
                <a href="/contatos" target="_blank"><img class="hexagSF"
                        src="{{url_for('static', filename='img/hexagono_contatos.png')}}"alt="hexagono"></a>
            </div>

            <div class="butao">
                <a href="/login" id="botão-login">
                    <img class="hexagAT" src="{{url_for('static', filename='img/TecnicoBut.svg')}}" alt="hexagono"></a>
            </div>
        </div>
        {% endif %}
    </div>
    
    
    <section>
        {% block content%}
        {% endblock %}
    </section>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
            
            <div class="bg-modal">
                <div class="modal-content-mensagem">
                    <div class="close" onclick="fechar()">+</div>
                    <h1>Avisos</h1>
                            <ul class="flashes">
                                {% for message in messages %}
                                    <li class="alert alert-danger">{{ message }}</li>
                                {% endfor %}
                            </ul>
                </div>
            </div>
            <script>
                document.querySelector('.bg-modal').style.display = 'flex';
                document.querySelector('.modal-content-mensagem').style.display = 'fit-content'
            </script>
        {% endif %}
    {% endwith %}
    <!-- Modal Técnico -->
    <div class="bg-modal">
        <div class="modal-content-mensagem">
            <div class="close" onclick="fechar()">+</div>
            <h1>Avisos</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" style="text-align: center; font-size: 1.1rem;">
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

        </div>
    </div>
</body>

</html>