{% extends 'base.html'%}
{%block title%}Atualizar Chamado{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/Lab_Main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
<style>
    .pc {
        background-image: url("{{ url_for('static', filename='/img/PC_21.png') }}");
        }
    .porta1{
        background-image: url("{{ url_for('static', filename='/img/door.png') }}");
        }
    .server{
        background-image: url("{{ url_for('static', filename='/img/server2.png') }}");
        }
</style>
    

<div class="editobj">
    
</div>
<form onkeydown="return event.key != 'Enter';" id="form" name="form" method="POST" action=" {{ url_for('edited') }} ">
<input type="hidden" id="actiontype" name="actiontype">
<input type="hidden" id="elementcontent" name="elementcontent">
<input type="hidden" id="totalcontent" name="totalcontent">
<input type="hidden" id="selectedvalue" name="selectedvalue">


<section class="lab_geral">
<div class="local local1">
<div class="rotulo">Laboratório</div>
<center>
<div class="editarea"><div class="pctablemaster">{% for row in elmnts %}{{row |safe}}{% endfor %}</div></div>
</center>
</div>
</section>

<div class="fundo1">
<div class="editclass">
    <div class="botão1">
        <span class="adicionar">Adicionar Laboratório</span><span class="edittxt"></span>
        <input class="txtnew" type="text" id="txtnew" name="txtnew"><span class="edittxt"></span>
    </div>
    <div class="botão1">
        <span class="carregar">Carregar Laboratório</span><span class="edittxt"></span>
        <select class="salalist" name="salalist" id="salalist">
            {% for lab in labs %}
                {% if selected == lab: %}
                    <option value="{{lab}}" selected> {{lab}} </option>
                {% else %}
                    <option value="{{lab}}"> {{lab}} </option>
                {% endif %}
            {% endfor %}
    
        </select><span class="edittxt"></span>
    </div>
    
    <div class="botão1"><span class="salvar">Salvar Alterações</span><span class="edittxt"></span></div>
    <div class="botão1"><span class="deletar">Deletar Laboratório</span></div>
</div>




<div class="editsize">
    <div class="conteudo1">
        <span class="edittxt">rotate: </span><input class="txtrotate" type="text" id="rotate" name="rotate">
        <span class="edittxt">x: </span><input class="txtx0" type="text" id="xpos" name="xpos">
        <span class="edittxt">y: </span><input class="txty0" type="text" id="ypos" name="ypos">
        <span class="edittxt">largura: </span><input class="txtx1" type="text" id="xsize" name="xsize">
        <span class="edittxt">altura: </span><input class="txty1" type="text" id="ysize" name="ysize">
        <span class="edittxt">name: </span><input class="txtname" type="text" id="txtname" name="txtname">
        <span class="edittxt">id: </span><input class="txtid" type="text" id="txtid" name="txtid" disabled><span class="edittxt"></span>
    </div>
    <div class="conteudo1 segundaparte">
        <div class="botão1"><span class="pcbutton">Novo PC</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="portabutton">Novo Porta</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="quadrobutton">Novo Quadro Branco</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="serverbutton">Novo server</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="mesabutton">Nova Mesa</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="resize"> Redimensionar </span></div>
        <div class="botão1"><span class="clone">Clonar</span><span class="edittxt"></span></div>
        <div class="botão1"><span class="delete">Deletar</span></div>
        <div class="botão1"><span class="retirarBorda">Retirar Borda</span></div>
    </div>
    <span class="edit" ></span><span class="edittxt"></span>
</div>
</form>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

            
            
	//DEFINICOES INICIAS
    editObj();
	setSelected();
	
	mode = 1;
	var cursorx = 0;
    var cursory = 0;
	lastelement = null; cloneelement = null;
    document.onmousemove = mouseMove;
	
	//SISTEMA QUE DETERMINA O TAMANHO
	preelements = document.querySelector(".pctablemaster").innerHTML;
	lastobj = preelements.lastIndexOf("obj");
	if (lastobj != -1){
		lastobj += 3;
		if (preelements.substr(lastobj+1, 9) == '" class="'){
			objsize = 1;
		} else if (preelements.substr(lastobj+2, 9) == '" class="'){
			objsize = 2;
		} else if (preelements.substr(lastobj+3, 9) == '" class="'){
			objsize = 3;
		} else if (preelements.substr(lastobj+4, 9) == '" class="'){
			objsize = 4;
		} else {
			objsize = 5;
		}
	
		if (objsize <= 4) {
			total = preelements.substr(lastobj, objsize)
		} else {
			total = 9999;
		}
	}
	else total = 0;
	
	counter = 1; elements = [];
	while (counter <= total){
		if (preelements.includes("obj"+counter)){
			elements.push("obj"+counter);
		}
		counter+=1;
	}
	elements.forEach(firstDefineElement);

	//SISTEMA DE ARRASTAR
    function dragElement(elmnt) {
        var pos1 = elmnt.offsetTop, pos2 = elmnt.offsetLeft, pos3 = 0, pos4 = 0;
        elmnt.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;

            document.getElementById("xsize").value = elmnt.clientWidth;
            document.getElementById("ysize").value = elmnt.clientHeight;
            document.getElementById("xpos").value = elmnt.offsetLeft;
            document.getElementById("ypos").value = elmnt.offsetTop;
            document.getElementById("txtid").value = elmnt.id;
            document.getElementById("txtname").value = elmnt.textContent;
            document.getElementById("rotate").value = elmnt.style.transform;

            if (elmnt.classList.value.includes("pc")) {
                document.getElementById("ysize").disabled = true;
            } else {
                document.getElementById("ysize").disabled = false;
            }
            if (elmnt.classList.value.includes("mesa")) {
                document.getElementById("txtname").disabled = true;
            } else {
                document.getElementById("txtname").disabled = false;
            }
            if (elmnt.classList.value.includes("porta1")) {
                document.getElementById("txtname").disabled = true;
            } else {
                document.getElementById("txtname").disabled = false;
            }
            if (elmnt.classList.value.includes("quadrobranco")) {
                document.getElementById("txtname").disabled = true;
            } else {
                document.getElementById("txtname").disabled = false;
            }
            if (elmnt.classList.value.includes("server")) {
                document.getElementById("txtname").disabled = true;
            } else {
                document.getElementById("txtname").disabled = false;
            }
            elmnt.style.outline = "2px solid #BBBBBB";
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();

            mouseMove(e);

            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.getElementById("xpos").value = elmnt.offsetLeft;
            document.getElementById("ypos").value = elmnt.offsetTop;
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            elements.forEach(clearOutline);
            elmnt.style.outline = "2px solid #DDDDDD";
            lastelement = elmnt;
            document.onmouseup = null;
            document.onmousemove = mouseMove;
        }
    }

    function clearOutline(item) {
        document.getElementById(item).style.outline = "none";
    }

	//EVENTOS CAIXAS DE TEXTO
    document.querySelector('.txtx1').addEventListener('input', function (event) {
        //lastelement.setAttribute('style', 'width: '+document.getElementById("xsize").value+'px; top: 100px');
        lastelement.style.width = document.getElementById("xsize").value + "px";
        lastelement.style.height = document.getElementById("ysize").value + "px";
        if (lastelement.classList.value.includes("pc")){
            lastelement.style.height = document.getElementById("xsize").value + "px";
            document.getElementById("ysize").value = document.getElementById("xsize").value;
        }
    });
    
    document.querySelector('.txty1').addEventListener('input', function (event) {
        lastelement.style.width = document.getElementById("xsize").value + "px";
        lastelement.style.height = document.getElementById("ysize").value + "px";
    });

    document.querySelector('.txtx0').addEventListener('input', function (event) {
        lastelement.style.left = document.getElementById("xpos").value + "px";
    });
    
    document.querySelector('.txty0').addEventListener('input', function (event) {
        lastelement.style.top = document.getElementById("ypos").value + "px";
    });

    document.querySelector('.txtrotate').addEventListener('input', function (event) {
        lastelement.style.transform = document.getElementById('rotate').value;
    });

    document.querySelector('.txtname').addEventListener('input', function (event) {
        lastelement.innerHTML = '<div class="innertext">' + document.getElementById("txtname").value + '</div>';
    });
    

	//FUNCOES DOS ELEMENTOS
    function addPC(yvalue, xvalue, ysize, xsize, texto, rotate) {
        total++;
        document.querySelector(".pctablemaster").innerHTML += '<div id="obj' + total + '" class="pc" style="top: ' + yvalue + 'px; left: ' + xvalue + 'px; height: ' + ysize + 'px; width: ' + xsize + 'px; transform: rotate('+ rotate +'deg); "><div class="innertext">' + texto + '</div></div>\n';
        elements.push("obj" + total)
        elements.forEach(defineElement);
    }
    
    function addMesa(yvalue, xvalue, ysize, xsize, rotate) {
        total++;
        document.querySelector(".pctablemaster").innerHTML += '<div id="obj' + total + '" class="mesa" style="top: ' + yvalue + 'px; left: ' + xvalue + 'px; height: ' + ysize + 'px; width: ' + xsize + 'px; transform: rotate('+ rotate +'deg); "></div>\n';
        elements.push("obj" + total)
        elements.forEach(defineElement);  
    }
    
    function addPorta(yvalue, xvalue, ysize, xsize, rotate) {
        total++;
        document.querySelector(".pctablemaster").innerHTML += '<div id="obj' + total + '" class="porta1" style="top: ' + yvalue + 'px; left: ' + xvalue + 'px; height: ' + ysize + 'px; width: ' + xsize + 'px; transform: rotate('+ rotate +'deg); "></div>\n';
        elements.push("obj" + total)
        elements.forEach(defineElement);  
    }
    
    function addQuadroBranco(yvalue, xvalue, ysize, xsize, rotate) {
        total++;
        document.querySelector(".pctablemaster").innerHTML += '<div id="obj' + total + '" class="quadrobranco" style="top: ' + yvalue + 'px; left: ' + xvalue + 'px; height: ' + ysize + 'px; width: ' + xsize + 'px; transform: rotate('+ rotate +'deg); ">Quadro Branco</div>\n';
        elements.push("obj" + total)
        elements.forEach(defineElement);  
    }
    
    function addServer(yvalue, xvalue, ysize, xsize, rotate) {
        total++;
        document.querySelector(".pctablemaster").innerHTML += '<div id="obj' + total + '" class="server" style="top: ' + yvalue + 'px; left: ' + xvalue + 'px; height: ' + ysize + 'px; width: ' + xsize + 'px; transform: rotate('+ rotate +'deg); "></div>\n';
        elements.push("obj" + total)
        elements.forEach(defineElement);  
    }
	
    function copyObj(){
        cloneelement = lastelement;
    }

    function cloneObj(){
         if (lastelement.classList.value.includes("pc")) {
            addPC(lastelement.offsetTop, lastelement.offsetLeft, lastelement.clientHeight, lastelement.clientWidth, lastelement.textContent, lastelement.style.transform);
        } else if (lastelement.classList.value.includes("mesa")) {
            addMesa(lastelement.offsetTop, lastelement.offsetLeft, lastelement.clientHeight, lastelement.clientWidth, lastelement.style.transform);
        } else if (lastelement.classList.value.includes("porta1")) {
            addPorta(lastelement.offsetTop, lastelement.offsetLeft, lastelement.clientHeight, lastelement.clientWidth, lastelement.style.transform);
        } else if (lastelement.classList.value.includes("quadrobranco")) {
            addQuadroBranco(lastelement.offsetTop, lastelement.offsetLeft, lastelement.clientHeight, lastelement.clientWidth, lastelement.style.transform);
        } else if (lastelement.classList.value.includes("server")) {
            addServer(lastelement.offsetTop, lastelement.offsetLeft, lastelement.clientHeight, lastelement.clientWidth, lastelement.style.transform);
        }
    }
    function pasteObj(){
        pastex = cursorx - $('.editarea').offset().left - Math.round(cloneelement.clientWidth/2);
        pastey = cursory - $('.editarea').offset().top - Math.round(cloneelement.clientHeight/2);
        //console.log(pastex + " " + pastey);
        if (cloneelement.classList.value.includes("pc")) {
            addPC(pastey, pastex, cloneelement.clientHeight, cloneelement.clientWidth, cloneelement.textContent, cloneelement.style.transform);
            cloneelement = document.getElementById("obj"+total);
        } else if (cloneelement.classList.value.includes("mesa")) {
            addMesa(pastey, pastex, cloneelement.clientHeight, cloneelement.clientWidth, cloneelement.style.transform);
            cloneelement = document.getElementById("obj"+total);
        } else if (cloneelement.classList.value.includes("porta")) {
            addPorta(pastey, pastex, cloneelement.clientHeight, cloneelement.clientWidth, cloneelement.style.transform);
            cloneelement = document.getElementById("obj"+total);
        } else if(cloneelement.classList.value.includes("quadrobranco")) {
            addQuadroBranco(pastey, pastex, cloneelement.clientHeight, cloneelement.clientWidth, cloneelement.style.transform);
            cloneelement = document.getElementById("obj"+total);
        } else if(cloneelement.classList.value.includes("server")) {
            addServer(pastey, pastex, cloneelement.clientHeight, cloneelement.clientWidth, cloneelement.style.transform);
            cloneelement = document.getElementById("obj"+total);
        }
    }
    function deleteObj(){
        elements.splice(elements.indexOf(lastelement.id), 1)
        lastelement.remove()
    }
    function editObj(){
        if (document.querySelector(".editobj").style.display == "none"){
            document.querySelector(".editobj").style.display = "initial";
        } else {
            document.querySelector(".editobj").style.display = "none";
        }
    }

	//EVENTOS DOS BOTOES
    document.querySelector(".pcbutton").addEventListener("click", function (event) {
        addPC(600, 600, 80, 80, "", 0);
    });
    document.querySelector(".mesabutton").addEventListener("click", function (event) {
        addMesa(600, 600, 100, 100, 0);
    });
    document.querySelector(".portabutton").addEventListener("click", function (event) {
        addPorta(600, 600, 100, 100, 0);
    });

    document.querySelector(".quadrobutton").addEventListener("click", function (event) {
        addQuadroBranco(600, 600, 50, 400, 270);
    });

    document.querySelector(".serverbutton").addEventListener("click", function (event) {
        addServer(600, 600, 100, 100, 270);
    });

    document.querySelector(".delete").addEventListener("click", function (event) {
        deleteObj();
    });

    document.querySelector(".clone").addEventListener("click", function (event) {
        cloneObj();
    });

    document.querySelector(".edit").addEventListener("click", function (event) {
        editObj();
    });
	
	document.querySelector(".adicionar").addEventListener("click", function (event) {
		document.getElementById("actiontype").value = "add";
		sendForm();
	});
	document.querySelector(".carregar").addEventListener("click", function (event) {
		document.getElementById("actiontype").value = "load";
		sendForm();
	});
	document.querySelector(".salvar").addEventListener("click", function (event) {
		document.getElementById("actiontype").value = "save";
		sendForm();
	});
	document.querySelector(".deletar").addEventListener("click", function (event) {
		document.getElementById("actiontype").value = "del";
		sendForm();
	});

    document.querySelector(".resize").addEventListener("click", function (event) {
        if (mode == 1) {
            elements.forEach(disableElement);
            mode = 2;
            document.querySelector(".resize").textContent = "movimentar" + String.fromCharCode(160) + String.fromCharCode(160) + String.fromCharCode(160);
            lastelement.style.resize = "both";
            document.onmousemove = resizeUpdateValues;
        } 
        else {
            elements.forEach(defineElement);
            mode = 1;
            document.querySelector(".resize").textContent = "redimensionar";
            lastelement.style.resize = "none";
        }
    });
	document.querySelector(".salalist").addEventListener("click", function (event) {
		setSelected();
    });
    document.querySelector(".retirarBorda").addEventListener("click", function (event) {
		lastelement.style.outline = "none";
    });



	//EVENTOS DO TECLADO
    $(document).ready(function() {
    var ctrlDown = false;
    var ctrlKey = 17;
    var cmdKey = 91;
    var vKey = 86;
    var cKey = 67;
    var cDelete = 46;

    $(document).keydown(function(e) {
        if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = true;
    }).keyup(function(e) {
        if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = false;
    });

    $(".no-copy-paste").keydown(function(e) {
        if (ctrlDown && (e.keyCode == vKey || e.keyCode == cKey)) return false;
    });
    
    $(document).keydown(function(e) {
        if (ctrlDown && (e.keyCode == cKey)) {
            copyObj();
        }
        if (ctrlDown && (e.keyCode == vKey)) {
            pasteObj();
        }
        if (e.keyCode == cDelete) {
            deleteObj();
        }
		});
	});

	
	//FUNCOES GERAIS
	function firstDefineElement(item) {
        dragElement(document.getElementById(item));
    }
	function defineElement(item) {
        dragElement(document.getElementById(item));
    }
	
    function disableElement(item) {
        document.getElementById(item).onmousedown = null;
        document.getElementById(item).onmousemove = null;
    }
	function resizeUpdateValues() {
        document.getElementById("xsize").value = lastelement.clientWidth;
        document.getElementById("ysize").value = lastelement.clientHeight;
        if (lastelement.classList.value.includes("pc")){
            lastelement.style.height = document.getElementById("xsize").value + "px";
            document.getElementById("ysize").value = document.getElementById("xsize").value;
        }
    }
	function setSelected(){
		document.getElementById("selectedvalue").value = document.getElementById("salalist").value;
	}
	
	function mouseMove(e){
        cursorx = event.pageX;
        cursory = event.pageY;
    }
	
	function sendForm(){
        //
		document.getElementById("elementcontent").value = document.querySelector(".pctablemaster").innerHTML;
		document.getElementById("totalcontent").value = total;
        document.getElementById('form').submit();
    }
	
	var msg = "{{ msg }}";
	if (msg != ""){
		alert(msg);
	}
</script>



{% endblock %}