{% extends 'base.html'%}
{%block title%}TECHELP - Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
<body class="bodylogin">
    <div class="borda">
        <h1 class="tituloTecnico">Login Técnico</h1>
        <form action="" method="post">
            <label for="" class="inplogin text1">E-mail:</label>
            <br><input class="inp inp1" type="email" name="email" placeholder="Digite seu e-mail">

            <br><label for="" class="inplogin text2">Senha:</label>
            <br><input class="inp inp2" type="password" name="password" placeholder="Sua senha"> 

            <br><input class="inpsub" type="submit" value="Entrar">
        </form>
    </div>

</body>

{% endblock %}